* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  width: 460px;
  background: #fafafc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.app {
  padding: 1.1rem 1.6rem;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.col {
  flex-direction: column;
}

.align {
  align-items: center;
}

.px-24 {
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

.px-15 {
  font-size: 1.5rem;
  color: var(--c-light);
  margin-bottom: 1.1rem;
}

.sub {
  font-size: 1.2rem;
  margin-top: 1.1rem;
}

.btn {
  background-color: var(--c-primary);
  color: var(--c-white);
  font-size: 1.6rem;
  padding: 0.6rem 1rem;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.reference {
  text-decoration: none;
  color: inherit;
}

.btn:hover {
  background-color: var(--c-violet);
}

.rad {
  border-radius: 1rem;
}

::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-light);
  border-radius: 10px;
}

.material {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.place-line {
  height: 4px;
  overflow: hidden;
  position: relative;
  background-color: rgb(167, 202, 237);
}

.progress-bar {
  background-color: var(--c-violet);
  width: auto;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.first {
  animation: first 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.second {
  animation: second 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
}

@keyframes first {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes second {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
