.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 600px;
  left: 0;
  background-color: var(--c-border);
  width: 100%;
  padding: 1.3rem 1.6rem;
  height: 22rem;
}

.payment {
  letter-spacing: 0.399px;
  font-size: 2.1rem;
  line-height: 2.4rem;
}

.cancel {
  background: transparent;
  border: none;
  color: var(--c-primary);
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.group {
  margin-bottom: 1.2rem;
}

.px-14 {
  font-size: 1.5rem;
}

.small {
  margin-left: 2px;
}

.bill {
  width: 4.2rem;
  height: 2.6rem;
  background-color: var(--c-violet);
  border-radius: 4px;
}

.caption {
  color: var(--c-black);
  text-transform: uppercase;
  max-width: 230px;
}

.total {
  letter-spacing: 0.019em;
  font-size: 2rem;
  line-height: 16px;
  color: var(--c-black);
}

.wrapper {
  height: 100%;
}

.circle-blue {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--c-secondary);
  animation: expand 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.circle-white {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 92px;
  height: 92px;
  transform: scale(0);
  border-radius: 50%;
  background: var(--c-white);
  animation: expand 1s 0.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.check-svg {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 40px;
  left: 160px;
  transform-origin: center;
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s 1 both scaleCheck;
}

.check-poly {
  fill: transparent;
  stroke-width: 2;
  stroke-dasharray: var(--px-length) var(--px-length);
  stroke: var(--c-secondary);
  animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0.7s 1 both drawCheck;
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleCheck {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes drawCheck {
  0% {
    stroke-dashoffset: var(--px-length);
  }
  100% {
    stroke-dashoffset: 0;
  }
}
