* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #fafafc;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.app {
  padding: 2rem;
}

.flex {
  display: flex;
}

.space {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.col {
  flex-direction: column;
}

.align {
  align-items: center;
}

.px-24 {
  font-size: 24px;
  padding-bottom: 10px;
}

.rad {
  border-radius: 10px;
}

.material {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.place-line {
  height: 4px;
  overflow: hidden;
  position: relative;
  background-color: rgb(167, 202, 237);
}

.progress-bar {
  background-color: #7e94d4;
  width: auto;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  transition: transform 0.2s linear;
  transform-origin: left;
}

.first {
  animation: first 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.second {
  animation: second 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
}

@keyframes first {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes second {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}
